<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{car.fixed.title}"></title>

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>

<body th:class="'bg-light p-3'">
<div th:insert="~{fragments/navbar :: mynavbar}"></div>
<hr>

<div th:class="'container'">
    <div th:class="'row'">
        <form th:object="${newCar}" th:action="@{/cars/new}" th:method="post">
            <div th:class="'form-group'">
                <table th:class="'table table-striped text-center'">
                    <thead>
                    <tr>
                        <th th:scope="'col'" th:text="#{table.add-new-car}"></th>
                        <th th:scope="'col'" th:text="''"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th th:scope="'row'">
                            <label th:for="'car_reg_numb_input'" th:text="#{car.registration-number}"></label>
                        </th>
                        <td>
                            <input th:class="'form-control'" th:id="'car_reg_numb_input'" th:type="'text'"
                                   th:placeholder="'np. ABC 12G3'"
                                   th:field="*{registrationNumber}">
                        </td>
                    </tr>
                    <tr>
                        <th th:scope="'row'">
                            <label th:for="'car_name_input'" th:text="#{car.name}"></label>
                        </th>
                        <td>
                            <select th:class="'form-control'" th:id="'car_name_input'" th:field="*{name}">
                                <option th:value="''" th:text="#{table.add-new-car.select-name}" th:disabled
                                        th:selected
                                        hidden></option>
                                <option th:each="carName : ${T(pl.isa.carservice.entity.CarName).values()}"
                                        th:value="${carName}" th:text="${carName.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th th:scope="'row'">
                            <label th:for="'car_manufacture_year_input'" th:text="#{car.manufacture-year}"></label>
                        </th>
                        <td>
                            <input th:class="'form-control'" th:id="'car_manufacture_year_input'" th:type="'number'"
                                   th:placeholder="'np. 2020'" th:field="*{manufactureYear}">
                        </td>
                    </tr>
                    <tr>
                        <th th:scope="'row'">
                            <label th:for="'car_accepted_date_input'" th:text="#{car.accepted-date}"></label>
                        </th>
                        <td>
                            <input th:class="'form-control'" th:id="'car_accepted_date_input'" th:type="date" th:field="*{carAcceptedDate}">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:class="'form-buttons'">
                    <button type="submit" th:class="'btn btn-lg btn-secondary'" th:text="#{button.create}"></button>
                    <button type="reset" th:class="'btn btn-lg btn-outline-secondary reset-button'"
                            th:text="#{button.reset}"></button>
                </div>
            </div>
        </form>

    </div>
</div>

<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>